.font-20{font-size:20pt;}
.hide{display:none;}

body.shop_view .companyDetailHide{
	display: none !important;
}

footer .footer-line{
	font-size:0.8rem;
	margin-bottom:20px !important;
}

footer .footer-line>:nth-child(n+2) {
    margin-left: 10px;
}

footer .footer-line.fold+.inside{
    display: none !important;
}

table.moncoStyle{
    width:70%;
    margin:0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    table-layout: fixed;
}

table.moncoStyle .dummy{
	display:none;
}

.moncoStyleTitle{
    width:70%;
    margin:0 auto;
    margin-top: 50px;
}

.moncoStyleTitleMobile{
    display:none;
    text-align: left;
}

table.moncoStyle .title{
    text-align: left;
    width: 240px;
}

table.moncoStyle .title p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:100%;
    margin-bottom: 0;
}

table.moncoStyle .score{
    width:100px;
}

table.moncoStyle .score .star_point .star_point_wrap{
    margin-bottom:0px !important;
}


table.moncoStyle .score .star_point a{
    font-size:10pt !important;
}

table.moncoStyle tbody{
    border:0 !important;
}

table.moncoStyle tbody tr:hover{
    cursor:pointer;
}

table.moncoStyle th{
    height:30px;
    text-align:center;
    border-bottom: 1px solid #ddd;
    background: #e6e6e6;
}

table.moncoStyle td{
    height:30px;
    text-align:center;
    padding-left: 15px;
    padding-right: 15px;
}

table.moncoStyle tr.contentsArea{
    display:none;
}

table.moncoStyle tr.contentsArea.on{
    display:table-row;
    cursor:default;
}

table.moncoStyle tr.contentsArea td{
    text-align:left;
    padding:20px 30px;
}

table.moncoStyle td{
    border:0;
    border-bottom:1px solid rgba(128, 128, 128, 0.15);
}

ul.moncoStyle{
    list-style: none;
    width:50%;
    margin:0 auto;
    padding:0;
}

#prod_detail_content_mobile .review_table .li_body.reviewOn{
    padding-left: 5px;
    padding-right: 5px;
}

#prod_detail_content_mobile .review_table .li_body.reviewOn .board_thumb_wrap{
    display:none;
}

#prod_detail_content_mobile .review_table .li_body.reviewOn .list_text_title > div:not(.body_tools):not(.moncoReviewContents){
    display: none;
}

#prod_detail_content_mobile .review_table .li_body:not(.reviewOn) .moncoReviewContents{
    display: none;
}

#prod_detail_content_mobile .review_table .li_body.reviewOn .list_text_title div{
    margin-left:0px !important;
}

.buy_btns .like_box,
.buy_btns .btn-flat,
.comment_num .bt-share,
._buy_footer_wrap .bt-share,
.feed-summary .date,
.comment_wrap .avatar,
.reply_area .avatar,
.reply_area .thumb-avatar,
.list_text_title .badge,
.list_text_title .reply_cnt,
.modal_prod_detail .modal-header .tabled .badge,
.moncoStyle .title .badge,
.clearfix.table-cell.list-group.vertical-middle .text-13.options,
.modal-body .text-gray.text-13,
.clearfix.table-cell.list-group.list_text_title.vertical-middle .text-13.body_font_color_50,
.badge._review_count_text,
.badge._qna_count_text,
ul.list_review_wrap div.tabled .table-cell .text-13:not(.use_summary),
ul.list_review_wrap div.tabled [class^='review_comment_wrap'],
.list_review_inner .use_summary + div.text-13 + div.text-14 .tit,
.list_review_inner .use_summary + div.text-13,
._review_wrap .interlock_star_point + div.text-13 + div.text-14 .tit,
.list_review_wrap .review_tools
{
    display:none !important;
}

.list_review_inner{
    position:relative;
}

._review_wrap .interlock_star_point + div.text-13 + div.text-14{
    vertical-align: middle;
}

.review_table{
    margin-top: 20px;
}

.comment_wrap .feed-summary{
    padding-left: 30px;
}

.reply_area .feed-summary{
    padding-left: 39px;
}

#review_form{
    margin-top:20px;
}

#inputCopy{
    vertical-align:middle;
    margin-top:0px;
    margin-right:3px;
}

@media (max-width: 768px){
    table.moncoStyle{
      width:100%;
      margin-top: 30px;
      margin-bottom: 50px;
      display: none;
    }

    .moncoStyleTitle{
        display: none;
    }

    .moncoStyleTitleMobile{
        display: block;
    }

    table.moncoStyle td{
      padding-left: 5px;
      padding-right: 5px;
    }

    .contentsArea img {
        max-width: 100% !important;
    }

    table.moncoStyle2{
        display:none;
    }
}

@media (min-width: 769px){
    ul.moncoStyle2{
        display:none;
    }
}

ul.moncoStyle2{
    padding:2px 0px;
    border-top:2px solid lightgrey;
    border-bottom:2px solid lightgrey;
    margin-bottom: 30px;
    text-align: left;
}

ul.moncoStyle2 li{
    list-style: none;
    overflow: hidden;
    position:relative;
    padding-top:5px;
    padding-bottom:5px;
    cursor:pointer;
}

ul.moncoStyle2 li.active{
    height:auto !important;
}

ul.moncoStyle2 li:not(:last-child){
    border-bottom: 1px solid #d3d3d3;
}

ul.moncoStyle2 li > div.imgArea{
    width:20%;
    display:inline-block;
    vertical-align: top;
}

ul.moncoStyle2 li:not(.active) > div.imgArea{
	overflow:hidden;
}

ul.moncoStyle2 li > div.imgArea img{
    width:100%;
  height:100%;
  object-fit: cover;
}

ul.moncoStyle2 li > div.imgArea img:not(:first-child){
    display:none;
}

ul.moncoStyle2 li > div.contentsArea{
    padding-left:15px;
    width:80%;
    display:inline-block;
    word-break: break-all;
    font-size: 10pt;
    height:100%;
    overflow: hidden;
}

ul.moncoStyle2 li > div.infoArea{
    position:absolute;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 3px;
    bottom: 1px;
}

ul.moncoStyle2 li > div.infoArea:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 20px;
    background: white;
    border-radius: 2px;
    z-index: 1;
    opacity: 0.5;
}

ul.moncoStyle2 li.active > div.infoArea:before {
    display:none !important;
}

ul.moncoStyle2 .star_point{
    display: inline-block;
    margin-left: 5px;
}

ul.moncoStyle2 .star_point a:not(.active){
    color: #afb1b2 !important;
}

ul.moncoStyle2 .writer{
    margin-left: 20px;
}

ul.moncoStyle2 .star_point a{
    font-size: 10pt;
}

.shop-item .prod_icon.sale{
    display:none;
}

.contentsArea img{
    max-width: 500px !important;
    height: auto;
    display: block;
    margin: 10px 0;
}

.shop-content .buy_btns.mobile a.defualt-cart.nPayCustomize{
	display:none !important;
}

.shop-content .buy_btns.mobile .n_pay .nPayCustomize{
  	color: black !important;
  	background-color: white !important;
}

.personal_qna_wrap #qna_form .textarea_block{
    padding-left: 15px !important;
    padding-right: 15px;
}

.personal_qna_wrap #qna_form .textarea_block textarea[name=comment_body]{
    overflow:visible !important;
    min-height: 180px !important;
}

.fr-placeholder{
    display: none !important;
}

.fr-placeholder2{
    color: #aaaaaa;
    top: 0;
    left: 0;
    position: absolute;
    font-size: 15px;
    color: #aaa;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.shop_view_body .product-detail-common, .shop_view_body .product-notify-wrap{
	display:none;
}

.shop_view_body .acc{
	margin-top: 50px;
	margin-bottom: 50px;
}

.acc .acc_elem{
	padding-top : 10px;
	padding-bottom : 10px;
	border-bottom: 1px solid #dddddd;
	cursor: pointer;
}

.acc>:nth-child(n+2) {
    margin-top: 20px;
}

.acc .acc_elem .acc_contents{
	margin-top:20px;
	font-size:0.85em;
}

.acc .acc_elem .acc_title p{
	margin-top:0px;
	margin-bottom:0px;
}

.acc .acc_elem .acc_title:before {
    content: "";
    width: 1.4em;
    height: 1.4em;
    margin-left: 10px;
    float: right;
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.acc .acc_elem .acc_active:before {
    background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
}